html {
    background-color: #f0dec3;
    font-family: sans-serif;
}

body {
    margin: auto;
    padding: 1rem;
    aspect-ratio: 16/9;
}

.main{
    margin:auto;
    /* max-width: %; */
    min-width: 20%;
}s

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}



/* Styling for nav links*/
.nav-links {
    margin:0;
    position:relative;
    padding: 0; 
    display: flex;
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;
}

/* Styling for nav links, the buttons themselves!*/
.nav-links a{
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    padding: 18px 22px;
    /* border-style: solid; */
    color: #3577e9;

}

.nav-links a:hover  {
    background-color: #fb9677;
}
.nav-links a:focus {
    color: #274c8d;
    background-color: #e8896d;
}


.maincolumns {
    display: flex;
    margin: 5px;
    padding: auto;

}
.leftside{
    width: 50%;
    align-content: center;
    height:80%;
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;
    padding:10px;
    margin: 10px;;
}
.rightside{
    width: 50%;
    align-content: center;
    height:80%;
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;
    padding:10px;
    margin: 10px;;
}

.awesome{
    align-content:center;
    text-align: center;
}

.footer{
    width:40%;
    margin:auto;
    text-align: center;
}

.footer p{
    align-content: center;
}