/* global styles! */
html {
    background-color: #ccc6b2;
    font-family: "DepartureMono";
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */
}

body {
    margin: auto;
    padding: 1rem;
}

/* The main div, for website lay*/
.main{
    max-width: 85vw;
    margin:auto;
    min-width: 20%;
    background-color: #ccc6b2;
    border-radius: 0.3em;   
    padding: 1rem;

    /* preventing overflow in any main div */
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}

h1 {
    /* margin: 1rem 0; */
    font-size: 1rem;
}

h2{
    /* margin: 1rem 0; */
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;    
    padding: 20px;
    width:fit-content;
}


/* Div to make the post lists look nice*/
.post {
    background-color:#e1ceb3;
    margin: 10px;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;   
    width:fit-content;
    display: block;
    padding: 12px;
    color:#3168c8;
    text-decoration: none;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 700;
}
.post:hover{
    background-color:#d3c1a7;
}

.post:focus{
    background-color:#b6a791;
}
.post:active{
    background-color:#a69681;
}


/* Div for posts and their content*/
.content{
    /* margin:auto; */
    max-width: 80vw;
    min-width: 20%;
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;   
    padding: 1rem;
    font-size: medium;
    /* width:fit-content; */
}


/* This to help remove the "numbers" for posts */
.content ul li{
    list-style-position: outside;
    list-style-type:none;
}


/* legit wizardry I found on stack overflow */
.content p img + em {
  display: block;
  text-align: center;
  font-size: 0.85rem;
  color: #888;
  font-style: italic;
  margin-top: 0.5rem;

}

.content p:has(img) img {
  align-content: center;
  margin: auto;
  display: block;
  max-width: 50%;
  height: auto;
  object-fit: contain;
  border: 0.15em solid #913a41;
  border-radius: 0.3em;
}


/* Styling for nav links*/
.nav-links {
    padding: 0; 
    display: flex;
    align-content: center;
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;   
    gap: 0.25rem; 
}
.nav-links img{
    object-fit: contain;
    max-width: 10%;
    max-height: 100%;
    padding:0.5em;
    width:42px;
    height:42px;
}


/* Styling for nav links, the buttons themselves!*/
.nav-links a{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 0.75rem;
    display: block;
    color: #3168c8;
    overflow:hidden;
    /* border: 0.1rem solid #913a41; */
}

/* dark for hover, darker when pressing. */
.nav-links a:hover  {
    color: #274c8d;
    background-color: #fb9677;
    
}

.nav-links a:focus {
    color: #274c8d;
    background-color: #e8896d;
}

.nav-links a:active {
    color: #17305d;
    background-color: #e8896d;
}


/* home divide page styling */
.maincolumns {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
    margin: 5px;    
}

.maincolumns img {
    display:block;
    margin:auto;
    max-width: 75%;
    max-height: 75%;
    border: 0.15em solid #6e2d32;
    border-radius: 0.3em;
}

/* .leftside{ 
}*/
.leftsidetop{
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;
    padding:20px;
    margin: 10px;
}
.leftsidebottom{
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;
    padding:20px;
    margin: 10px;
}

/* keeping for organization/later use
.rightside {
}
.rightsidetop{
    
}   
*/
.rightsidebottom{
    max-height:40%;
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;
    padding:10px;   
    margin: 10px;
}

@media (max-width: 768px) {
  .maincolumns {
    grid-template-columns: 1fr;
  }
}

/*
.aboutme{
    margin:auto;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;
    min-height: 70%;
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    padding: 10px;
}
*/


@font-face {
    font-family: "DepartureMono";
    src: url('/fonts/DepartureMono-Regular.woff2') format('woff2');
    src: url('/fonts/DepartureMono-Regular.woff') format('woff');
}


