/* global styles! */
html {
    /* background-color: #b8ab97; */
    background-color: #ccc6b2;
    font-family: sans-serif;
}

body {
    margin: auto;
    padding: 1rem;
    aspect-ratio: 16/9;
}

/* The main div, for website lay*/
.main{
    margin:auto;
    min-width: 20%;
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;   
    padding: 1rem;
}
/* This to help remove the "numbers" for posts */
.main ul li{
    list-style-position: outside;
    list-style-type:none;
}

h1 {
    margin: 1rem 0;
    font-size: 1rem;
}

h2{
    margin: 1rem 0;
    font-size: 1.5rem;
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;    
    padding: 20px;
    width:fit-content;
}


/* Div to make the post lists look nice*/
.post {
    background-color:#e1ceb3;
    margin: 10px;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;   
    width:fit-content;
    display: block;
    padding: 12px;
    color:#3168c8;
    text-decoration: none;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 700;
}
/* Div for posts and their content*/
.content{
    margin:auto;
    min-width: 20%;
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;   
    padding: 1rem;
}

/* Styling for nav links*/
.nav-links {
    padding: 0; 
    display: flex;
    align-content: center;
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;   
    gap: 0.25rem; 
}
.nav-links img{
    object-fit: contain;
    max-width: 10%;
    max-height: 100%;
    padding:0.5em;
    width:42px;
    height:42px;
}


/* Styling for nav links, the buttons themselves!*/
.nav-links a{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 0.75rem;
    display: block;
    color: #3168c8;
    overflow:hidden;
    /* border: 0.1rem solid #913a41; */
}

/* dark for hover, darker when pressing. */
.nav-links a:hover  {
    color: #274c8d;
    background-color: #fb9677;
    
}

.nav-links a:focus {
    color: #274c8d;
    background-color: #e8896d;
}

.nav-links a:active {
    color: #17305d;
    background-color: #e8896d;
}


/* home divide page styling */
.maincolumns {
    display: flex;
    margin: 5px;
    padding: auto;
}
.leftside{
    width: 60%;
    height:100%;
    min-height: 80%;
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;
    padding:10px;
    margin: 10px;;
}
.rightside{
    width: 40%;
    height:80%;
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;
    padding:10px;   
    margin: 10px;
}




/* footer styling */
.footer{
    width:40%;
    margin:auto;
    text-align: center;
    align-content: center;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;
    display:flex;
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
}


.aboutme{
    margin:auto;
    border: 0.15em solid #913a41;
    border-radius: 0.3em;
    min-height: 70%;
    background-color:#e1ceb3;
    border: 0.15em solid #913a41;
    padding: 10px;
}
