html {
    background-color: #f0dec3;
    font-family: sans-serif;
}
body {
    margin: 0 auto;
    /* max-width: 105ch; */
    padding: 1rem;
    /* line-height: 1.5; */
    /* align-content: center; */
    aspect-ratio: 16/9;
}

.main{
    border-style: solid;
    border-color: #598ce6;
    max-width: 90%;
    /* align-content: center; */
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* Styling for nav links*/
.nav-links {
    display:flex;   
    top: 5rem;
    /* background-color: #e3a248; */
    display: block;
    position: static;
    width: auto;
}

/* Styling for nav links, the buttons themselves!*/
.nav-links a{
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 20px;
    border-style: solid;
    border-color:#598ce6;
    color: #3577e9;
}

.nav-links a:hover  {
    background-color: #fb9677;
}
.nav-links a:focus {
    background-color: #e8896d;
}

.nav-links img{
    padding: 15px 20px;
    width:40%;
    height:40%;
}

.maincolumns {
    /* column-count: 2; */
    display: flex;

    /* border-collapse:separate; */
    /* text-indent: initial; */
    /* box-sizing: border-box; */
}
.leftside{
    width: 50%;
    align-content: center;
    height:80%;
}
.rightside{
    width: 50%;
    align-content: center;
    height:80%;
}

.awesome{
    align-content:center;
    text-align: center;
}