---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
const pageTitle = "About Me";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Astro</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog">Blog</a>
        <h1>About Me</h1>
        <h2>... and my new Astro site! :3</h2>

        <p>
            I'm working through the intro Astro website, second page in, first
            written by myself!
        </p>

        <p>Be on the lookout for more updates!</p>
    </body>
</html>
