---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <h3>Blog time!</h3>
        <p>
            This is where I'd put a blog.... IF I HAD ONE!...
            <p>oh wait. I do!</p>
        </p>
        <ul>
            <li><a href="/posts/test.md">Post 1</a></li>
        </ul>
    </body>
</Layout>
