---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
    <body>
        <Navigation />
        <h3>Blog time!</h3>
        <p>
            This is where I'd put a blog.... IF I HAD ONE!...
            <p>oh wait. I do!</p>
        </p>
        <ul>
            <li><a href="/posts/test/">Post 1</a></li>
            <li><a href="/posts/test2/">Post 2</a></li>
            <li><a href="/posts/test3/">Post 3</a></li>
        </ul>
    </body>
</Layout>
