---
import Navigation from "../components/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import TabHeader from "../components/TabHeader.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h3>Blog time!</h3>
  <p>
    This is where I'd put a blog.... IF I HAD ONE!...
    <p>oh wait. I do!</p>
  </p>
  <ul>
    <li><a href="/posts/test">Post 1</a></li>
    <li><a href="/posts/test2/">Post 2</a></li>
    <li><a href="/posts/test3/">Post 3</a></li>
  </ul>
</BaseLayout>
