---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(
  import.meta.glob("../pages/posts/*.md", { eager: true })
);
const pageTitle = "Personal Blog";
const show_Title = true;
---

<BaseLayout pageTitle={pageTitle} show_Title={show_Title}>
  <div class="main">
    <p>Here's a personal blog for myself, check it out!</p>
    <ul>
      {
        allPosts.map((post: any) => (
          <BlogPost url={post.url} title={post.frontmatter.title} />
        ))
      }
  </ul>
</div>
</BaseLayout>
