---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<h3>Home Page</h3>
		<p>
			Here's the homepage of Rohan Durgum
			<p>
				temporarily put on Github Pages, eventually on server hosting!
			</p>
		</p>
	</body>
</Layout>
