---
import BasePageLayout from "../layouts/BasePageLayout.astro";
const pageTitle = "Home Page";
const show_Title = false;
---

<BasePageLayout pageTitle={pageTitle} show_Title={show_Title}>
<div class="maincolumns">
  <div class="leftside">
    <p> A wise man once told me:</p>
    <p>"You never really lose at something until you give up at it"</p>
    <p>Might as well put some time towards that motto.</p>
    <br>  <!--trying out spacing here dw -->


  </div>
  <div class="rightside">
    <p>Welcome to the homepage of Rohan Durgum's website!</p>
    <br>
    <p> Here's some filler content at the moment, be on the lookout for more upcoming!</p>
  </div>
</div>
</BasePageLayout>
