---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
const show_Title = false;
---

<BaseLayout pageTitle={pageTitle} show_Title={show_Title}>
<div class="maincolumns">
  <div class="leftside">
    <p> A wise man once told me:</p>
    <p>You never really lose until you give up at something</p>
    <p>Might as well put some time towards that motto.</p>
  </div>
  <div class="rightside">
    <p>We learn, we fail, we try again.</p>
    <br>
    <p> Another paragraph for checking spacing</p>
  </div>
</div>


 
</BaseLayout>
