---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout>
	<body>
		<Navigation />
		<h3>Home Page</h3>
		<p>
			Here's the homepage of Rohan Durgum
			<p>
				temporarily put on Github Pages, eventually on server hosting!
			</p>
		</p>
	</body>
</Layout>
