---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
<div class="maincolumns">
  <div class="leftside">
    <p>We learn, we fail, we try again.</p>
    <div class="awesome">
      <p>Put something here</p>
    </div>
  </div>
  <div class="rightside">
    <p>We learn, we fail, we try again.</p>
    <br>
    <p> Another paragraph for checking spacing</p>
  </div>
</div>


 
</BaseLayout>
