---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(
  import.meta.glob("../pages/projects/*.md", { eager: true })
);
const pageTitle = "Projects";
const show_Title = true;
---

<BaseLayout pageTitle={pageTitle} show_Title={show_Title}>
  <div class="main">
    <p>Projects galore!</p>
    <p>Not as plentiful as I like it right now, but in time that'll change.</p>
    <p>Be on the lookout!</p>
    <ul>
      {
        allPosts.map((post: any) => (
          <BlogPost url={post.url} title={post.frontmatter.title} />
        ))
      }
  </ul>
</div>
</BaseLayout>
