---
import PostListLayout from "../layouts/PostListLayout.astro";

const pageTitle = "Projects";
const glob = import.meta.glob("../pages/projects/*.md", { eager: true });
---
<PostListLayout pageTitle={pageTitle} glob={glob}>
  <p>Here's a personal blog for myself, check it out!</p>
</PostListLayout>