---
const platform = "github";
const username = "the-durgum-nator";
---

<footer>
    <p>
        Learn more about me and my projects on <a
            href={`https://www.${platform}.com/${username}`}>{platform}</a
        >!
    </p>
</footer>
