---
const platform = "github";
const username = "the-durgum-nator";
---

<!-- NEED TO INCLUDE LINKTREE INSTEAD OR HREFSFOR  -->
<footer>
  <div class ="footerlinks">

  <a href={`https://www.${platform}.com/${username}`}><img src="src/assets/GitHub_Invertocat_Black.svg" alt="Github!" style="width:42px;height:42px;"></a>
  </div>
    
</footer>
