---
// Basic navigation element for reuse
---

<div class="nav-links">
    <img src="/src/assets/Logo.png" alt="Logo" loading="lazy">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <a href="/projects">Projects</a>
</div>
