---
// Basic navigation element for reuse
---

<div class="nav-links">
    <!-- <img src = "src/assets/il_fullxfull.4542319428_o97c-1181542315.jpg" alt="logo"> -->
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
</div>
