---
import Header from "../components/Header.astro";
import TabHeader from "../components/TabHeader.astro";
import "/src/styles/global.css";
const { pageTitle, show_Title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <TabHeader/>
  <body>
    <Header />
      <div class="main">
        <slot />
      </div>  
  </body>
</html>

