---
import BasePageLayout from "./BasePageLayout.astro";
import "../styles/global.css"
const { frontmatter } = Astro.props;
---

<BasePageLayout pageTitle={frontmatter.title} showTitle={false}>
  <meta charset="utf-8" />
  <div class="main">
    <h3>{frontmatter.title}</h3>
    <slot />

  </div>
</BasePageLayout>
